nav.menu {

	background: #eee;
	margin-top: 0;
	display: block;
	overflow: hidden;


	h1 {
		font-size: 1.3em;
		margin: 10px 30px;
		float: left;
	}

	ul {
		display: block;
		float: right;
		margin-right: 30px;

		li {
			display: inline;
			list-style: none;

			a {
				display: block;
				float: left;
				padding: 10px;
			}
		}
	}
}

